<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Список событий</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1>Список событий</h1>
<br/><br/>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>Аккаунт</th>
        <th>Время начала</th>
        <th>Время окончания</th>
        <th>id заказа</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="calendar : ${calendars}">
        <td th:utext="${calendar.id}"></td>
        <td th:utext="${calendar.customerId}"></td>
        <td th:utext="${calendar.startAt}"></td>
        <td th:utext="${calendar.stopAt}"></td>
        <td th:utext="${calendar.orderId}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
