<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<p th:if="${loginError}" class="error">Wrong account</p>
<form th:action="@{/login}" method="post">
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid account.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>

    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <input type="submit" value="Log in" />
</form>
</body>
</html>
