<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Список заказов</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1>Список заказов</h1>
<a href="/order/add">Добавить</a>
<br/><br/>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>Асистент</th>
        <th>Транспорт</th>
        <th>Клиент</th>
        <th>Время начала</th>
        <th>Время окончания</th>
        <th>Время создания</th>
        <th>Описание</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>Коментарий</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="order : ${orders}">
        <td th:utext="${order.id}"></td>
        <td th:utext="${order.driverid}"></td>
        <td th:utext="${order.transportid}"></td>
        <td th:utext="${order.customerid}"></td>
        <td th:utext="${order.parkingid}"></td>
        <td th:utext="${order.StartAt}"></td>
        <td th:utext="${order.StopAt}"></td>
        <td th:utext="${order.CreatedAt}"></td>
        <td th:utext="${order.description}"></td>
        <td th:utext="${order.latitude}"></td>
        <td th:utext="${order.longitude}"></td>
        <td th:utext="${order.comment}"></td>
        <td th:utext="${order.price}"></td>
        <td><a th:href="@{/order/edit/(id=${order.id})}">Edit</a></td>
        <td><a th:href="@{/order/delete/(id=${order.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
